#newsletter-signup .section-inner {
  padding: 0;
}

.newsletter-signup-form {
  display: block;
  text-align: center;
}

.newsletter-signup-form input[type='email'] {
  // from https://dovetailapp.com/
  -webkit-appearance: none;
  background-color: #f8f7fc;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(36, 18, 77, .08);
  box-sizing: border-box;
  color: #24124d;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: normal;
  margin: 8px 8px 0 8px;
  outline: none;
  padding: 0 12px;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  width: 300px;
}

.newsletter-signup-form input[type='submit'] {
  margin: 8px 8px 0 8px;
}