body {
  cursor: default;
}

.pricing-table-features {
  margin-bottom: 25px;
}
.pricing-table-primary .pricing-table-inner {
  position: relative;
  top: -24px;
}

.testimonial-body {
  text-align: left;
}
.testimonial-footer {
  margin: 10px 0 0 0;
}